<!-- gallery  -->
<link type="text/css" rel="stylesheet" href="bower_components/lightslider/dist/css/lightslider.min.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="bower_components/lightslider/dist/js/lightslider.js"></script>
<section class="bg-light page-section" id="{{ site.data.sitetext.gallery.section | default: "gallery" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.gallery.title | markdownify | default: "Gallery" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.gallery.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row" id="slider">
      <ul>
	{% for pic in site.data.sitetext.gallery.pics %}
        <li data-thumb="{{ pic.thumbnail }}">
          <img src="{{ pic.image }}"/>
        </li>
      	{% endfor %}
      </ul>
    </div>
  </div>
</section>
{% include modals.html %}
