<!-- gallery grid  -->
<section class="bg-light page-section" id="{{ site.data.sitetext.gallery.section | default: "gallery" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.gallery.title | markdownify | default: "Gallery" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.gallery.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for pic in site.data.sitetext.gallery.pics %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ pic.caption.thumbnail }}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>{{ pic.caption.title }}</h4>
          <p class="text-muted">{{ pic.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% include modals.html %}
