<!-- Services -->
  <section class="page-section" id="{{ site.data.sitetext.values.section | default: "values" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.values.title | default: "Values" }}</h2>
          {% if site.data.sitetext.values.text %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext.values.text }}</h3>
		  {% endif %}
        </div>
      </div>
      <div class="row text-center">
	  {% for value in site.data.sitetext.values.list %}
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{ value.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">{{ value.title | markdownify }}</h4>
          {% if value.desc %}<div class="text-muted">{{ value.desc | markdownify }}</div>{% endif %}
        </div>
	  {% endfor %}
      </div>
    </div>
  </section>
<!-- End values -->
